<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CNTK.CPUOnly" version="2.3.1" targetFramework="net452" />
  <package id="CsvHelper" version="6.0.0" targetFramework="net452" />
  <package id="Deedle" version="1.2.5" targetFramework="net452" />
  <package id="EMGU.CV" version="3.3.0.2824" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net452" />
</packages>